<li class="friend">
  <div class="friend-link">
    <%= link_to friend_ship.friend.email, user_path(friend_ship.friend) %>
  </div>

  <% if current_user == friend_ship.user %>
    <div class="delete-friend-btn">
      <%= button_to "Delete friend", user_friend_path(current_user.id, friend_ship.id), 
            :method => :delete %>
    </div>
  <% end %>
</li>