<li class="friend">
  <%= link_to friend_ship.friend.email, user_path(friend_ship.friend) %>

  <!-- only show this delete option if you're on your own page!  -->
  <% if current_user == friend_ship.user %>
    <%= button_to "Delete friend", user_friend_path(current_user.id, friend_ship.id),
        :method => :delete %>
  <% end %>
</li>