<li class="pending-friend">
  <div class="pending-friend-profile-link">
    <%= link_to pending_friendship.friend.email, user_path(pending_friendship.friend) %>
  </div>
  <div class="pending-friend-accept-btn">
    <%= button_to "Accept", user_friend_path(current_user.id, pending_friendship.id), :method => :put %>
  </div>
  <div class="pending-friend-decline-btn">
    <%= button_to "Ignore", user_friend_path(current_user.id, pending_friendship.id),
          :method => :delete %>
  </div>
</li>


