<h1>Info for <%= @user.email %></h1>

Images:
<%= render 'layouts/images_display.html.erb' %>

Favorited Images:
<div class="image-thumbnails-list">
  <% @favorited_images.each do |image| %>
      <%= link_to image_tag(image.img, :height => 100, :width => 150, :class => "img-thumbnail"), image_path(image) %>
  <% end %>
</div>



