<h1><%= "#{@user.email}'s profile" %></h1>

Images:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @images, :as => :image %>
</div>

Favorited Images:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @favorited_images, :as => :image %>
</div>



