<h1>Info for <%= @user.email %></h1>

Images:
<%= render 'layouts/images_display.html.erb' %>

Favorited Images:
<ul class="image-list">
<% @favorited_images.each do |image| %>
  <li class="image-list-item">
    <%= link_to image.id, image_path(image) %>
    <img class="img-thumbnail" src=<%= "#{image.img}" %>>
  </li>
<% end %>
</ul>
