h1 {
  text-align: center;
}

#canvas {
  border: 1px solid black;
}

#canvas-div {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
}

#save-canvas {
  display: inline;
  padding: 5px;
  float: right;
}

.img-thumbnail {
  width: 150px;
  height: 100px;
  display: inline;
  margin: 10px;
  position: relative;
}

.image-thumbnails-list {
  width: 95%;
  display: block;
  margin: auto;
}

#show-image-container {
  width: 60%;
  margin: auto;
}

.show-top-image {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
}

.comments-container {
  padding-top: 25px;
  width: 70%;
  margin: auto;
}

.comment {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 10px 5px 10px;
  margin: 0 0 10px 0;
  display: inline-block;
  width: 100%;
}

img {
  border: 1px solid black;
  margin: auto;
  position: relative;
  display: block;
  width: 100%;
}

#fav {
  width: 30px;
  height: 30px;
  background-image: url('invis_center_heart_icon.png');
  background-size: 100%;
  background-color: white;
  border: none;
  float: right;
}

#fav:hover {
  cursor: hand;
  cursor: pointer;
}

#unfav {
  width: 30px;
  height: 30px;
  background-image: url('invis_center_heart_icon.png');
  background-size: 100%;
  background-color: red;
  border: none;
  float: right;
}

#unfav:hover {
  cursor: hand;
  cursor: pointer;
}

.artist-names, .contributor-names {
  font-size: 12px;
}

.author-name {
  font-size: 12px;
  float: right;
  display: inline;
}

.delete-comment {
  font-size: 12px;
  float: left;
  display: inline;
}

#navbar {
  height: 50px;
  background-color: #333344;
  text-align: center;
  border-radius: 5px;
}

#navbar a {
  padding: 15px;
  color: white;
  margin: auto;
  text-decoration: none;
}

#nav-bar-ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

#nav-bar-ul li {
  display: inline;
}

#body-container {
  margin-top: 40px;
}

.delete-icon {
  margin-top: 4px;
  width: 25px;
  height: 25px;
  float: right;
  border: none;
}

.submit-comment-button {
  float: right;
}

#comment_body {
  border-radius: 4px;
  width: 100%;
  border-color: gray;
  padding: 10px;
}

.new-comment-form {
  display: none;
}

#add-comment {
  float: right;
}

#friend-buttons {
  margin-bottom: 10px;
  &.none {
    .friends-btn {
      display: none;
    }
    .friend-requested-btn {
      display: none;
    }
    .friend-pending-btn {
      display: none;
    }
    .add-friend-btn {
      display: none;
    }
  }

  &.friends {
    .friends-btn {}
    .friend-requested-btn {
      display: none;
    }
    .friend-pending-btn {
      display: none;
    }
    .add-friend-btn {
      display: none;
    }
  }

  &.requested {
    .friends-btn {
      display: none;
    }
    .friend-requested-btn {
    }
    .friend-pending-btn {
      display: none;
    }
    .add-friend-btn {
      display: none;
    }
  }

  &.pending {
    .friends-btn {
      display: none;
    }
    .friend-requested-btn {
      display: none;
    }
    .friend-pending-btn {}
    .add-friend-btn {
      display: none;
    }
  }

  &.add {
    .friends-btn {
      display: none;
    }
    .friend-requested-btn {
      display: none;
    }
    .friend-pending-btn {
      display: none;
    }
    .add-friend-btn {}
  }
}

.pending-friend-profile-link {
  display: inline-block;
}

.pending-friend-accept-btn {
  display: inline-block;
}

.pending-friend-decline-btn {
  display: inline-block;
}

.friend-link {
  display: inline-block;
}

.delete-friend-btn {
  display: inline-block;
}

.pending-friend {
  list-style: none;
  padding: 3px;
}

.friend {
  list-style: none;
  padding: 3px;
}

#privacy {
  display: inline;
}