#canvas {
  border: 1px solid black;
}

#canvas-div {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
}

#save-canvas {
  display: inline;
  width: 100px;
  height: 50px;
  margin: auto;
}

h1 {
  text-align: center;
}

img {
  border: 1px solid black;
  margin: auto;
  position: relative;
  display: block;
}

.img-thumbnail {
  width: 150px;
  height: 100px;
  display: inline;
  margin: 10px;

  position: relative;

}

.image-thumbnails-list {
  display: block;
  margin: 2px;
}

#fav {
  width: 30px;
  height: 30px;
  background-image: url('invis_center_heart_icon.png');
  background-size: 100%;
  background-color: white;
  border: none;
  float: right;
}

#unfav {
  width: 30px;
  height: 30px;
  background-image: url('invis_center_heart_icon.png');
  background-size: 100%;
  background-color: red;
  border: none;
  float: right;
}