<h1>Add to Doodle!</h1>

<div id="canvas-div">
  <canvas id="canvas" width="600px" height="400px" 
    data-user-id="<%= current_user.id %>" data-image="<%= @image.img%>" 
    data-image-id="<%= @image.id %>"></canvas>

  <div id="save-canvas">
    Save!  
  </div>
</div>

<script type="text/javascript">
  var canvas = $('#canvas');
  var ctx = canvas.get(0).getContext("2d");
  var img = $('#canvas').attr('data-image');

  var imgObj = new Image();
  imgObj.onload = function () {
    ctx.drawImage(imgObj,0,0);
    pic = new Doodle.Pic(ctx);
  };
  imgObj.src = img;

  $('#save-canvas').click(function () {
    var canvas = document.getElementById('canvas');
    var newImgData = canvas.toDataURL("image/png");
    // var imageID = $('#canvas').attr('data-image-id');

    var params = { id: $('#canvas').attr('data-image-id'), img: newImgData, "_method":"put" }

    $.post('/images/' + $('#canvas').attr('data-image-id'), params, function () {
        alert("Your contribution has been saved");
      }, "json");

    
  });
</script>
