<h1>Add to Doodle!</h1>

<div id="canvas-div">
  <canvas id="canvas" width="600px" height="400px" data-user-id="<%= current_user.id %>" data-image="<%= @image.img%>"></canvas>

  <div id="save-canvas">
    Save!  
  </div>
</div>


<script type="text/javascript">
  var canvas = $('#canvas');
  var ctx = canvas.get(0).getContext("2d");
  var img = $('#canvas').attr('data-image');

  var imgObj = new Image();
  imgObj.onload = function () {
    ctx.drawImage(imgObj,0,0);
    pic = new Doodle.Pic(ctx);
  };
  imgObj.src = img;

  // $('#save-canvas').click(function () {
  //   var canvas = document.getElementById('canvas');
  //   var imgData = canvas.toDataURL("image/png");
  //   var user_id = $('#canvas').attr('data-user-id');
  //   var csrfToken = $('meta[name=csrf-token]').attr('content');
  // });


  // $('#save-canvas').click(function () {
  //   var canvas = document.getElementById('canvas');
  //   var imgData = canvas.toDataURL("image/png");
  //   var userID = $('#canvas').attr('data-user-id');
  //   var csrfToken = $('meta[name=csrf-token]').attr('content');


  //   console.log(csrfToken);

  //   var params = { user_id: userID, img: imgData, authenticity_token: csrfToken };

  //   $.post('/images/', params, function () {
  //     alert("saved :)");
  //   }, "json");
  // });

</script>
