<h1><%= @image.id %></h1>


  <img src=<%= "#{@image.img}" %>>

  <%= button_to "Favorite", image_favorite_path(@image), :remote => true, :id => "fav", :hidden => @favorited %>

  <%= button_to "Unfavorite", image_favorite_path(@image), :method => :delete, :remote => true, :id => "unfav", :hidden => (not @favorited) %>



<script type="text/javascript">
  $(function () {
    // $('.button_to').on('ajax:success', function () {
    $('.button_to').on("click", function () {
      console.log("yay");
      $('#fav, #unfav').toggle();
    });
  });
</script>


