<!-- REV: this partial surely goes in views/images? -->
<ul class="image-list">
<% @images.each do |image| %>
  <li class="image-list-item">
    <%= link_to image.id, image_path(image) %>
    <img class="img-thumbnail" src=<%= "#{image.img}" %>>
  </li>
<% end %>
</ul>
