<!-- <ul class="image-list"> -->

<%# @images.each do |image| %>
<!--   <li class="image-list-item"> -->
    <%#= link_to image.id, image_path(image) %>
    <!-- <img class="img-thumbnail" src=<%#= "#{image.img}" %>> -->
<!--   </li> -->
<%# end %>
<!-- </ul> -->



<div class="image-thumbnails-list">
  <% @images.each do |image| %>
  <%= link_to image_tag(image.img, :height => 100, :width => 150, :class => "img-thumbnail"), image_path(image) %>
  <% end %>
</div>

